
@media all and (max-width: 1024px) {
    .header__flex {
        flex-direction: column;
        gap: 25px;
    }

    .header__navigation {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 50px;
        justify-content: center;
    }

    .logo {
        display: flex;
        min-width: 100%;
        justify-content: center;
    }

    .link__nav {
        font-size: 1.5em;
    }

    .section__first {
        padding: 20px;
    }

    .section__first__block {
        flex-direction: column;
        gap: 50px;
    }

    .section__first__image {
        order: -1;
        max-width: 370px;

    }

    .section__first__text {
        text-align: justify;
    }

    .section__companies__logo {
        justify-content: space-around;
        row-gap: 20px;
    }

    .section__companies__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;

    }

    .section__about__text {
        text-align: justify;
    }

    .section__about__block {
        flex-direction: column;
        gap: 50px
    }

    .section__about__image {
        max-width: 50%;
        order: 2;
    }

    .section__about__flex {
        gap: 100px;
    }

    .card {
        min-width: 50%;
    }

    .section__teams {
        padding-top: 75px;
        padding-bottom: 90px;
    }

    .card__teams {
        min-width: 100%;
        align-items: center;
    }

    .card__teams__text {
        text-align: justify;
        max-width: 50%;

    }

    .section__qotation__block {
        flex-direction: column;
        align-items: center;
    }

    .section__qotation__image {
        order: -1;
        margin-bottom: 20px;
    }

    .section__qotation__info {
        max-width: 50%;
        align-items: center;
    }

    .section__qotation__text {
        text-align: justify;
    }

    .section__rating__block {
        flex-direction: column;
        align-items: center;


    }

    .section__rating__info {
        margin-bottom: 50px;
        padding-bottom: 40px;
        border-bottom: 1px solid black;
    }

    .section__rating__stars {
        padding: 0;
        justify-content: center;
        border-left: 0px;

    }

    .section__rating__company {
        align-items: center;
        min-width: 150px;
    }

    .section__localization__block>.card__teams__text {
        text-align: center;
        font-size: 1.5em;
        max-width: 75%;
    }

    .footer__nav {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .case__studies {
        width: 50%;
        align-items: center;
    }

    .case__studies>.section__companies__img {
        max-width: 150px;
    }

    .case__studies>.card__teams__text {
        max-width: 100%;
        font-size: 1.5em;
    }

    .case__studies__link {
        font-size: 1.5em;
    }

    .nav__columns {
        width: auto;
        flex-wrap: wrap;
        row-gap: 100px;
    }

    .nav__column {
        min-width: 50%;
        gap: 25px;
        align-items: center;
    }

    .nav__column__title {
        font-size: 2em;
    }

    .nav__column__link {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .footer__bottom__block {
        justify-content: space-evenly;
    }

    .logo__text {
        flex-shrink: 0;
    }

    .footer__bottom__block .small__text {
        font-size: 1.1em;
        line-height: 1.1em;
    }
}